.chart-container {
  position: relative;
  height: 300px;
  width: 100%;
  
  .echarts-chart {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .chart-container {
    height: 250px;
  }
}